<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>bluetooth-connector</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>387831F6-E764-4230-B8D9-BE5CCA311178</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>92447D65-AC73-42A4-8B0B-F431E4C1E0A1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4298D3F1-0820-459E-9B61-B396A0057862</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CFC98C8D-F6E7-4B27-8115-28A52C703229</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>58061AE2-6B9B-45FC-8325-139C98C22693</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>42FBD721-757A-4964-8A6D-CF67686EB137</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>42FBD721-757A-4964-8A6D-CF67686EB137</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BD6DF48E-3996-43BD-A902-34DEB58846C8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string>mark as airpods</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>92447D65-AC73-42A4-8B0B-F431E4C1E0A1</key>
		<array/>
		<key>9A36E3BF-B94D-45E5-BAD3-FEFCB39C22C1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CFC98C8D-F6E7-4B27-8115-28A52C703229</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BD6DF48E-3996-43BD-A902-34DEB58846C8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A2750A6C-29C0-4BB4-BF8B-DE0B2D9128EB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BDE15D79-5B43-422D-9FCA-892F4B3F1F98</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4298D3F1-0820-459E-9B61-B396A0057862</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>42FBD721-757A-4964-8A6D-CF67686EB137</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>select new Airpods device</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CFC98C8D-F6E7-4B27-8115-28A52C703229</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>387831F6-E764-4230-B8D9-BE5CCA311178</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D67FDF62-C2FE-4CB4-87FE-C726B42E2C76</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CFC98C8D-F6E7-4B27-8115-28A52C703229</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E46BC154-C2E7-4371-8C7B-35919FA4784A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>92447D65-AC73-42A4-8B0B-F431E4C1E0A1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A2F04A6A-7268-471F-9C64-5280D6DC53B4</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BD6DF48E-3996-43BD-A902-34DEB58846C8</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>mark as airpods</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Eric Boettner</string>
	<key>description</key>
	<string>Connect bluetooth devices</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Bluetooth Connector</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>5</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>G</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D67FDF62-C2FE-4CB4-87FE-C726B42E2C76</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>if [ $1 = "connect" ]
then
  /opt/homebrew/bin/BluetoothConnector --connect $2
  sleep 5
  /opt/homebrew/bin/SwitchAudioSource -t input -s "$input"  
  /opt/homebrew/bin/SwitchAudioSource -t output -s "$3"
  
else
  /opt/homebrew/bin/BluetoothConnector --disconnect $2
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>92447D65-AC73-42A4-8B0B-F431E4C1E0A1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<true/>
				<key>triggerid</key>
				<string>airpods</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>9A36E3BF-B94D-45E5-BAD3-FEFCB39C22C1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>,</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>1</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>387831F6-E764-4230-B8D9-BE5CCA311178</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>connect, {var:AIRPODS_MAC}, {var:AIRPODS_NAME}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>mac1</key>
					<string>connect</string>
					<key>mac2</key>
					<string>{var:AIRPODS_MAC}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>CFC98C8D-F6E7-4B27-8115-28A52C703229</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:bluetooth_trigger}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./alfred.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E46BC154-C2E7-4371-8C7B-35919FA4784A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:AIRPODS_MAC}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>connect</string>
						<key>uid</key>
						<string>58061AE2-6B9B-45FC-8325-139C98C22693</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>setup</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>4298D3F1-0820-459E-9B61-B396A0057862</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:airpods_trigger}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>if [[ -z "$AIRPODS_MAC" ]]; then
	echo "{\"items\": [{\"uid\": \"airpods_connect\", \"icon\": {\"path\": \"icons/airpods.png\", \"type\":\"filepath\"}, \"title\": \"Find Airpods\", \"subtitle\": \"list bluetooth devices\"}]}"
else
	echo "{\"items\": [{\"uid\": \"airpods_connect\", \"icon\": {\"path\": \"icons/airpods.png\", \"type\": \"filepath\"}, \"title\": \"Connect Airpods\", \"subtitle\": \"connect to $AIRPODS_NAME\"}]}"
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BDE15D79-5B43-422D-9FCA-892F4B3F1F98</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>A2F04A6A-7268-471F-9C64-5280D6DC53B4</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run argv
  	set bundleID to (system attribute "alfred_workflow_bundleid")
	set airpodsMac to item 2 of argv
	set airpodsName to item 3 of argv

	tell application id "com.runningwithcrayons.Alfred"
    		set configuration "AIRPODS_MAC" to value airpodsMac in workflow bundleID
		set configuration "AIRPODS_NAME" to value airpodsName in workflow bundleID
	end tell
end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BD6DF48E-3996-43BD-A902-34DEB58846C8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:AIRPODS_NAME} marked as Airpods</string>
				<key>title</key>
				<string>Bluetooth Connector</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A2750A6C-29C0-4BB4-BF8B-DE0B2D9128EB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./alfred.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>42FBD721-757A-4964-8A6D-CF67686EB137</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>A simple workflow for connecting bluetooth devices

See https://github.com/Boettner-eric/Alfred/ for more info</string>
	<key>uidata</key>
	<dict>
		<key>387831F6-E764-4230-B8D9-BE5CCA311178</key>
		<dict>
			<key>xpos</key>
			<real>380</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>4298D3F1-0820-459E-9B61-B396A0057862</key>
		<dict>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>265</real>
		</dict>
		<key>42FBD721-757A-4964-8A6D-CF67686EB137</key>
		<dict>
			<key>note</key>
			<string>select airpods from list</string>
			<key>xpos</key>
			<real>300</real>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>92447D65-AC73-42A4-8B0B-F431E4C1E0A1</key>
		<dict>
			<key>note</key>
			<string>connect to provided bluetooth MAC</string>
			<key>xpos</key>
			<real>525</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>9A36E3BF-B94D-45E5-BAD3-FEFCB39C22C1</key>
		<dict>
			<key>note</key>
			<string>open via uri</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>A2750A6C-29C0-4BB4-BF8B-DE0B2D9128EB</key>
		<dict>
			<key>xpos</key>
			<real>610</real>
			<key>ypos</key>
			<real>405</real>
		</dict>
		<key>A2F04A6A-7268-471F-9C64-5280D6DC53B4</key>
		<dict>
			<key>xpos</key>
			<real>610</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>BD6DF48E-3996-43BD-A902-34DEB58846C8</key>
		<dict>
			<key>note</key>
			<string>save airpods mac and name</string>
			<key>xpos</key>
			<real>460</real>
			<key>ypos</key>
			<real>405</real>
		</dict>
		<key>BDE15D79-5B43-422D-9FCA-892F4B3F1F98</key>
		<dict>
			<key>note</key>
			<string>select airpods from list</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>CFC98C8D-F6E7-4B27-8115-28A52C703229</key>
		<dict>
			<key>xpos</key>
			<real>320</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>D67FDF62-C2FE-4CB4-87FE-C726B42E2C76</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>E46BC154-C2E7-4371-8C7B-35919FA4784A</key>
		<dict>
			<key>note</key>
			<string>select bluetooth device</string>
			<key>xpos</key>
			<real>300</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>ble</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Show list of bluetooth devices</string>
			<key>label</key>
			<string>Bluetooth List Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>bluetooth_trigger</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>ai</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Quickly connect to a known MAC address (for airpods or headphones)</string>
			<key>label</key>
			<string>Connect Airpods</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>airpods_trigger</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>This will be set automatically by the workflow</string>
			<key>label</key>
			<string>Airpods Name</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>AIRPODS_NAME</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>This will be set automatically by the workflow</string>
			<key>label</key>
			<string>Airpods Mac Address</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>AIRPODS_MAC</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>MacBook Pro Microphone</string>
				<key>placeholder</key>
				<string>Enter your input device name</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Input device to switch to when you connect airpods</string>
			<key>label</key>
			<string>Input Device</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>input</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/Boettner-eric/Alfred</string>
</dict>
</plist>
