<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>bluetooth-connector</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>2BE9F66A-4473-46BE-83C9-E7310F7AAD10</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4298D3F1-0820-459E-9B61-B396A0057862</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>387831F6-E764-4230-B8D9-BE5CCA311178</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>92447D65-AC73-42A4-8B0B-F431E4C1E0A1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4298D3F1-0820-459E-9B61-B396A0057862</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CFC98C8D-F6E7-4B27-8115-28A52C703229</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>58061AE2-6B9B-45FC-8325-139C98C22693</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>42FBD721-757A-4964-8A6D-CF67686EB137</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>42FBD721-757A-4964-8A6D-CF67686EB137</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>92447D65-AC73-42A4-8B0B-F431E4C1E0A1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B27FB0F3-01B9-495A-888F-9255975636D1</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>92447D65-AC73-42A4-8B0B-F431E4C1E0A1</key>
		<array/>
		<key>9A36E3BF-B94D-45E5-BAD3-FEFCB39C22C1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CFC98C8D-F6E7-4B27-8115-28A52C703229</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B27FB0F3-01B9-495A-888F-9255975636D1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A2750A6C-29C0-4BB4-BF8B-DE0B2D9128EB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CFC98C8D-F6E7-4B27-8115-28A52C703229</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>387831F6-E764-4230-B8D9-BE5CCA311178</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D67FDF62-C2FE-4CB4-87FE-C726B42E2C76</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CFC98C8D-F6E7-4B27-8115-28A52C703229</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Eric Boettner</string>
	<key>description</key>
	<string>Connect bluetooth devices</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Bluetooth Connector</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>105</integer>
				<key>hotmod</key>
				<integer>8388608</integer>
				<key>hotstring</key>
				<string>F13</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D67FDF62-C2FE-4CB4-87FE-C726B42E2C76</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>if [ $1 = "connect" ]
then
  /opt/homebrew/bin/blueutil --connect $2
else
  /opt/homebrew/bin/blueutil --disconnect $2
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>92447D65-AC73-42A4-8B0B-F431E4C1E0A1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<true/>
				<key>triggerid</key>
				<string>airpods</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>9A36E3BF-B94D-45E5-BAD3-FEFCB39C22C1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>,</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>1</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>387831F6-E764-4230-B8D9-BE5CCA311178</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>connect, {var:AIRPODS_MAC}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>mac1</key>
					<string>connect</string>
					<key>mac2</key>
					<string>{var:AIRPODS_MAC}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>CFC98C8D-F6E7-4B27-8115-28A52C703229</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>{var:airpods_trigger}</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Connect Airpods</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2BE9F66A-4473-46BE-83C9-E7310F7AAD10</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:AIRPODS_MAC}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>connect</string>
						<key>uid</key>
						<string>58061AE2-6B9B-45FC-8325-139C98C22693</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>setup</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>4298D3F1-0820-459E-9B61-B396A0057862</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:bluetooth_trigger}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>system_profiler SPBluetoothDataType -json | jq -f alfred.jq</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>42FBD721-757A-4964-8A6D-CF67686EB137</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Airpods added</string>
				<key>title</key>
				<string>Bluetooth Connector</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A2750A6C-29C0-4BB4-BF8B-DE0B2D9128EB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/libexec/PlistBuddy -c "Set :variables:AIRPODS_MAC \"$1\"" info.plist
/usr/libexec/PlistBuddy -c "Set :variables:WORKFLOW_CONFIGURED \"true\"" info.plist</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B27FB0F3-01B9-495A-888F-9255975636D1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>A simple workflow for connecting bluetooth devices

See https://github.com/Boettner-eric/Alfred/ for more info</string>
	<key>uidata</key>
	<dict>
		<key>2BE9F66A-4473-46BE-83C9-E7310F7AAD10</key>
		<dict>
			<key>note</key>
			<string>conect airpods</string>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>387831F6-E764-4230-B8D9-BE5CCA311178</key>
		<dict>
			<key>xpos</key>
			<real>385</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>4298D3F1-0820-459E-9B61-B396A0057862</key>
		<dict>
			<key>xpos</key>
			<real>185</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>42FBD721-757A-4964-8A6D-CF67686EB137</key>
		<dict>
			<key>note</key>
			<string>list bluetooth devices</string>
			<key>xpos</key>
			<real>170</real>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>92447D65-AC73-42A4-8B0B-F431E4C1E0A1</key>
		<dict>
			<key>note</key>
			<string>connect to provided bluetooth MAC</string>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>9A36E3BF-B94D-45E5-BAD3-FEFCB39C22C1</key>
		<dict>
			<key>note</key>
			<string>open via uri</string>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>A2750A6C-29C0-4BB4-BF8B-DE0B2D9128EB</key>
		<dict>
			<key>xpos</key>
			<real>550</real>
			<key>ypos</key>
			<real>565</real>
		</dict>
		<key>B27FB0F3-01B9-495A-888F-9255975636D1</key>
		<dict>
			<key>note</key>
			<string>save airpods MAC</string>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>565</real>
		</dict>
		<key>CFC98C8D-F6E7-4B27-8115-28A52C703229</key>
		<dict>
			<key>xpos</key>
			<real>330</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>D67FDF62-C2FE-4CB4-87FE-C726B42E2C76</key>
		<dict>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>bl</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Show list of bluetooth devices</string>
			<key>label</key>
			<string>Bluetooth List Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>bluetooth_trigger</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>ai</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Quickly connect to a known MAC address (for airpods or headphones)</string>
			<key>label</key>
			<string>Connect Airpods</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>airpods_trigger</string>
		</dict>
	</array>
	<key>variables</key>
	<dict>
		<key>AIRPODS_MAC</key>
		<string>14-28-76-CB-BA-EF</string>
		<key>WORKFLOW_CONFIGURED</key>
		<string>true</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>AIRPODS_MAC</string>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/Boettner-eric/Alfred</string>
</dict>
</plist>
