<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>boettner.eric.slack_status</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>26DC164C-2920-4C94-B8FE-FEC1E80307C3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>14AE877C-C43B-43E4-9305-59D111E0E87D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4EE514A4-4846-403A-B464-A8374971F3A2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>84F81BB9-B5D0-4DC6-BB9F-9EC5F8530E89</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>84F81BB9-B5D0-4DC6-BB9F-9EC5F8530E89</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EC2323D2-65B0-4242-B362-4B8ACA4495DA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Eric Boettner</string>
	<key>description</key>
	<string>Change slack Status</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Slack Status</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>~/.asdf/shims/python3 status.py -s $split3 -t $split2 -e $split1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EC2323D2-65B0-4242-B362-4B8ACA4495DA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:status}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Loading emotes…</string>
				<key>script</key>
				<string>~/.asdf/shims/python3 status.py -a {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Change your status</string>
				<key>title</key>
				<string>Slack Status</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4EE514A4-4846-403A-B464-A8374971F3A2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string> </string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>84F81BB9-B5D0-4DC6-BB9F-9EC5F8530E89</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ste</string>
				<key>subtext</key>
				<string>fetch all emojis</string>
				<key>text</key>
				<string>Slack Status</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>26DC164C-2920-4C94-B8FE-FEC1E80307C3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>~/.asdf/shims/python3 status.py -g</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>14AE877C-C43B-43E4-9305-59D111E0E87D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>A simple workflow for changing Slack status from Alfred.

See https://github.com/Boettner-eric/Alfred/ for more info</string>
	<key>uidata</key>
	<dict>
		<key>14AE877C-C43B-43E4-9305-59D111E0E87D</key>
		<dict>
			<key>xpos</key>
			<real>530</real>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>26DC164C-2920-4C94-B8FE-FEC1E80307C3</key>
		<dict>
			<key>note</key>
			<string>register new google user</string>
			<key>xpos</key>
			<real>305</real>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>4EE514A4-4846-403A-B464-A8374971F3A2</key>
		<dict>
			<key>note</key>
			<string>Enter a zoom meeting (no browser)</string>
			<key>xpos</key>
			<real>300</real>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>84F81BB9-B5D0-4DC6-BB9F-9EC5F8530E89</key>
		<dict>
			<key>xpos</key>
			<real>485</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>EC2323D2-65B0-4242-B362-4B8ACA4495DA</key>
		<dict>
			<key>xpos</key>
			<real>575</real>
			<key>ypos</key>
			<real>260</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>st</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Keyword to trigger workflow</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>status</string>
		</dict>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://github.com/Boettner-eric/Alfred</string>
</dict>
</plist>
