<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>boettner.eric.bookmarks</string>
	<key>connections</key>
	<dict>
		<key>0A92CAFB-35F9-4C8E-BF07-BF37074EB832</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5C448AD2-8058-4477-AC14-8D208B5DE54C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>12886B7B-C90C-40D7-9C81-3F801AF8D012</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FBFB7006-E368-4E30-A38B-25E8C6753DAF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>20DA9DB2-538C-4605-8B9E-FFF9D382B829</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>642BCED2-539C-4F7D-BA24-55C89ECE573D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2C30B3B4-F6B1-41C2-B2FB-225835872BB3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>20DA9DB2-538C-4605-8B9E-FFF9D382B829</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>36594007-BF9B-47F7-9847-5C4640A5AFFA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>84FABB63-77DD-4C83-8E4C-CA1CD0DCD618</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2C30B3B4-F6B1-41C2-B2FB-225835872BB3</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Usage: [name] [url]</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>80FF8DD8-5CF5-409B-A799-79065F08EF99</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A92CAFB-35F9-4C8E-BF07-BF37074EB832</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>84FABB63-77DD-4C83-8E4C-CA1CD0DCD618</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>20DA9DB2-538C-4605-8B9E-FFF9D382B829</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BF1454E1-8782-4669-A3CA-2E77BA6E8DCC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D3D5928B-2640-4935-9B24-69C9D9AF5F50</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>44F227E8-6C8E-4AC7-BB67-82276CA5D673</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy url</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C013A87D-6553-4FCC-9441-60D97EEF04B9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FECC1B18-217C-4647-895F-5B2242963474</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D2484F39-1743-44F0-8587-D83329CE9E94</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FECC1B18-217C-4647-895F-5B2242963474</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DAEF63E8-6235-43BC-9CF9-86E83C93748C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C013A87D-6553-4FCC-9441-60D97EEF04B9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D2484F39-1743-44F0-8587-D83329CE9E94</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Usage: [name] [url]</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FBFB7006-E368-4E30-A38B-25E8C6753DAF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>80FF8DD8-5CF5-409B-A799-79065F08EF99</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FECC1B18-217C-4647-895F-5B2242963474</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A214295-095D-408F-92B7-78106F6E53FF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Eric Boettner</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Bookmarks</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>bm</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading data…</string>
				<key>script</key>
				<string>cat common.json</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>enter bookmark name</string>
				<key>title</key>
				<string>Bookmarks</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BF1454E1-8782-4669-A3CA-2E77BA6E8DCC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D3D5928B-2640-4935-9B24-69C9D9AF5F50</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>44F227E8-6C8E-4AC7-BB67-82276CA5D673</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Bookmark added</string>
				<key>title</key>
				<string>Bookmark Workflow</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>642BCED2-539C-4F7D-BA24-55C89ECE573D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python3 bookmarks.py add $1 $2</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>20DA9DB2-538C-4605-8B9E-FFF9D382B829</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>bma</string>
				<key>subtext</key>
				<string>add website to bookmarks list</string>
				<key>text</key>
				<string>Add Bookmark</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>36594007-BF9B-47F7-9847-5C4640A5AFFA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string> </string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>1</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>84FABB63-77DD-4C83-8E4C-CA1CD0DCD618</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string> </string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>1</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>2C30B3B4-F6B1-41C2-B2FB-225835872BB3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python3 bookmarks.py edit $1 $2</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FECC1B18-217C-4647-895F-5B2242963474</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Bookmark added</string>
				<key>title</key>
				<string>Bookmark Workflow</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4A214295-095D-408F-92B7-78106F6E53FF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>bme</string>
				<key>subtext</key>
				<string>edit website in bookmarks list</string>
				<key>text</key>
				<string>Edit Bookmark</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DAEF63E8-6235-43BC-9CF9-86E83C93748C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string> </string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>1</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>C013A87D-6553-4FCC-9441-60D97EEF04B9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string> </string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>1</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>D2484F39-1743-44F0-8587-D83329CE9E94</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python3 bookmarks.py add $title $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0A92CAFB-35F9-4C8E-BF07-BF37074EB832</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Bookmark added</string>
				<key>title</key>
				<string>Bookmark Workflow</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>5C448AD2-8058-4477-AC14-8D208B5DE54C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>bms</string>
				<key>subtext</key>
				<string>Enter a title to save it as</string>
				<key>text</key>
				<string>Save page</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>12886B7B-C90C-40D7-9C81-3F801AF8D012</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript -e 'tell application "Arc" to get URL of active tab of front window' | tr -d '\n'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>80FF8DD8-5CF5-409B-A799-79065F08EF99</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>title</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>FBFB7006-E368-4E30-A38B-25E8C6753DAF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>A simple workflow for jumping to bookmarks

See https://github.com/Boettner-eric/Alfred/ for more info</string>
	<key>uidata</key>
	<dict>
		<key>0A92CAFB-35F9-4C8E-BF07-BF37074EB832</key>
		<dict>
			<key>xpos</key>
			<real>470</real>
			<key>ypos</key>
			<real>685</real>
		</dict>
		<key>12886B7B-C90C-40D7-9C81-3F801AF8D012</key>
		<dict>
			<key>note</key>
			<string>Add current url</string>
			<key>xpos</key>
			<real>85</real>
			<key>ypos</key>
			<real>685</real>
		</dict>
		<key>20DA9DB2-538C-4605-8B9E-FFF9D382B829</key>
		<dict>
			<key>xpos</key>
			<real>330</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>2C30B3B4-F6B1-41C2-B2FB-225835872BB3</key>
		<dict>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>36594007-BF9B-47F7-9847-5C4640A5AFFA</key>
		<dict>
			<key>note</key>
			<string>Add Bookmark</string>
			<key>xpos</key>
			<real>85</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>44F227E8-6C8E-4AC7-BB67-82276CA5D673</key>
		<dict>
			<key>xpos</key>
			<real>415</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>4A214295-095D-408F-92B7-78106F6E53FF</key>
		<dict>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>5C448AD2-8058-4477-AC14-8D208B5DE54C</key>
		<dict>
			<key>xpos</key>
			<real>650</real>
			<key>ypos</key>
			<real>685</real>
		</dict>
		<key>642BCED2-539C-4F7D-BA24-55C89ECE573D</key>
		<dict>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>80FF8DD8-5CF5-409B-A799-79065F08EF99</key>
		<dict>
			<key>xpos</key>
			<real>310</real>
			<key>ypos</key>
			<real>685</real>
		</dict>
		<key>84FABB63-77DD-4C83-8E4C-CA1CD0DCD618</key>
		<dict>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>BF1454E1-8782-4669-A3CA-2E77BA6E8DCC</key>
		<dict>
			<key>note</key>
			<string>Bookmarks for helpful sites</string>
			<key>xpos</key>
			<real>90</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>C013A87D-6553-4FCC-9441-60D97EEF04B9</key>
		<dict>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>520</real>
		</dict>
		<key>D2484F39-1743-44F0-8587-D83329CE9E94</key>
		<dict>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>585</real>
		</dict>
		<key>D3D5928B-2640-4935-9B24-69C9D9AF5F50</key>
		<dict>
			<key>xpos</key>
			<real>415</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>DAEF63E8-6235-43BC-9CF9-86E83C93748C</key>
		<dict>
			<key>note</key>
			<string>Add Bookmark</string>
			<key>xpos</key>
			<real>85</real>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>FBFB7006-E368-4E30-A38B-25E8C6753DAF</key>
		<dict>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>715</real>
		</dict>
		<key>FECC1B18-217C-4647-895F-5B2242963474</key>
		<dict>
			<key>xpos</key>
			<real>330</real>
			<key>ypos</key>
			<real>490</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://github.com/Boettner-eric/Alfred</string>
</dict>
</plist>
