<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>gitlab.boettner-eric</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>68C3E500-0A83-4454-864C-77DB9C0EE6C9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>07EBDA8B-6279-4340-9EA7-E8CECAA94E6A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>757F9C2A-2340-4436-8F70-3232DAC71866</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1E69B797-7C7C-4C11-977D-84658C234563</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AFCC4C9A-A234-4F77-9361-4945F6F4FCE1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0770F4CF-A15B-4B11-9846-A19F2FB0D223</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>96FFBEDA-ECF6-41DC-AE2A-CEED31AA5FD3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9C52D931-C8A4-4B6A-8090-3EB28DE0509D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9C52D931-C8A4-4B6A-8090-3EB28DE0509D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ACBEDDD3-7A96-4049-9450-9218953DCAA2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F130643C-2761-47C8-8B10-3D535492C4C3</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3CF9AB8E-9976-4C24-9D6B-7A301E3F1D19</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ACBEDDD3-7A96-4049-9450-9218953DCAA2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>859F2C3A-C031-4CED-8A61-A123BC96B825</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AFCC4C9A-A234-4F77-9361-4945F6F4FCE1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1CC012E3-27DF-4D2E-ADBF-0EBBA6FBC727</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Eric Boettner</string>
	<key>description</key>
	<string>Shortcuts for Gitlab Repos and Users</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Gitlab</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:repo}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading data…</string>
				<key>script</key>
				<string>cat repo.json</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>enter repo name</string>
				<key>title</key>
				<string>Repositories</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>68C3E500-0A83-4454-864C-77DB9C0EE6C9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>07EBDA8B-6279-4340-9EA7-E8CECAA94E6A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:gitlaburl}/dashboard/merge_requests?scope=all&amp;state=opened&amp;{var:split1}={var:split2}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>859F2C3A-C031-4CED-8A61-A123BC96B825</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>=</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>ACBEDDD3-7A96-4049-9450-9218953DCAA2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:pullrequest}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading data…</string>
				<key>script</key>
				<string>cat pr.json</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>enter gitlab username</string>
				<key>title</key>
				<string>Pull Requests</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>96FFBEDA-ECF6-41DC-AE2A-CEED31AA5FD3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:gitlaburl}/{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>3CF9AB8E-9976-4C24-9D6B-7A301E3F1D19</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>=</string>
						<key>outputlabel</key>
						<string>pr</string>
						<key>uid</key>
						<string>F130643C-2761-47C8-8B10-3D535492C4C3</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>profile</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>9C52D931-C8A4-4B6A-8090-3EB28DE0509D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>linear:{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>1E69B797-7C7C-4C11-977D-84658C234563</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:mergerequests}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading data…</string>
				<key>script</key>
				<string>if test -f "merge.json"; then
	cat merge.json
	/usr/local/bin/python3 gitlab.py -m &gt; /dev/null &amp;
else
	/usr/local/bin/python3 gitlab.py -a
fi

</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Merge request sync</string>
				<key>title</key>
				<string>Merge Requests</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>757F9C2A-2340-4436-8F70-3232DAC71866</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>1CC012E3-27DF-4D2E-ADBF-0EBBA6FBC727</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>=</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>AFCC4C9A-A234-4F77-9361-4945F6F4FCE1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>git checkout {query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>0770F4CF-A15B-4B11-9846-A19F2FB0D223</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Gitlab Workflow
- Repos
- Merge requests
- User profiles

follow the instructions in https://github.com/Boettner-eric/Alfred/tree/master/gitlab to get started</string>
	<key>uidata</key>
	<dict>
		<key>0770F4CF-A15B-4B11-9846-A19F2FB0D223</key>
		<dict>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>07EBDA8B-6279-4340-9EA7-E8CECAA94E6A</key>
		<dict>
			<key>xpos</key>
			<real>305</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>1CC012E3-27DF-4D2E-ADBF-0EBBA6FBC727</key>
		<dict>
			<key>xpos</key>
			<real>370</real>
			<key>ypos</key>
			<real>585</real>
		</dict>
		<key>1E69B797-7C7C-4C11-977D-84658C234563</key>
		<dict>
			<key>xpos</key>
			<real>385</real>
			<key>ypos</key>
			<real>445</real>
		</dict>
		<key>3CF9AB8E-9976-4C24-9D6B-7A301E3F1D19</key>
		<dict>
			<key>xpos</key>
			<real>380</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
		<key>68C3E500-0A83-4454-864C-77DB9C0EE6C9</key>
		<dict>
			<key>note</key>
			<string>Jump to repos</string>
			<key>xpos</key>
			<real>75</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>757F9C2A-2340-4436-8F70-3232DAC71866</key>
		<dict>
			<key>note</key>
			<string>Jump to active merge requests</string>
			<key>xpos</key>
			<real>75</real>
			<key>ypos</key>
			<real>575</real>
		</dict>
		<key>859F2C3A-C031-4CED-8A61-A123BC96B825</key>
		<dict>
			<key>xpos</key>
			<real>380</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>96FFBEDA-ECF6-41DC-AE2A-CEED31AA5FD3</key>
		<dict>
			<key>note</key>
			<string>View pull requests by user</string>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>9C52D931-C8A4-4B6A-8090-3EB28DE0509D</key>
		<dict>
			<key>xpos</key>
			<real>265</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>ACBEDDD3-7A96-4049-9450-9218953DCAA2</key>
		<dict>
			<key>xpos</key>
			<real>290</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>AFCC4C9A-A234-4F77-9361-4945F6F4FCE1</key>
		<dict>
			<key>xpos</key>
			<real>285</real>
			<key>ypos</key>
			<real>615</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>pr</string>
				<key>placeholder</key>
				<string>pr</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>the trigger term to show gitlab user's pull requests</string>
			<key>label</key>
			<string>Pull Request</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>pullrequest</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>mr</string>
				<key>placeholder</key>
				<string>mr</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>the trigger term to show all gitlab merge requests</string>
			<key>label</key>
			<string>Merge Requests</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>mergerequests</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>rp</string>
				<key>placeholder</key>
				<string>rp</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>the trigger term to show gitlab repos</string>
			<key>label</key>
			<string>Repo</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>repo</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>The base url to call for your scripts</string>
			<key>label</key>
			<string>Gitlab url</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>gitlaburl</string>
		</dict>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://github.com/Boettner-eric/Alfred</string>
</dict>
</plist>
