<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>boettner.eric.url-schemes</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>14D512E9-9D3F-4105-8FBB-CB4A69A4AA00</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C8D41AE-5E7B-4C38-8338-A356CB49B845</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>27385497-B986-4326-BD0B-7ABC8368C2CB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B2AFC6AB-4FE7-498C-90F4-E9BA1B786ED8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2C8D41AE-5E7B-4C38-8338-A356CB49B845</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>08ADD829-48A5-4C71-BC36-6028263953FF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>47E20270-E6BD-4F29-BD0D-78D73C2566C9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B2AFC6AB-4FE7-498C-90F4-E9BA1B786ED8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7493E761-8E41-41E5-9824-93FE48E5A509</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A61D31F6-2149-43EA-A377-5BBD2CFF03A8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>81DE253E-B57E-480A-837D-D4872DD861AA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>47E20270-E6BD-4F29-BD0D-78D73C2566C9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A61D31F6-2149-43EA-A377-5BBD2CFF03A8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>14D512E9-9D3F-4105-8FBB-CB4A69A4AA00</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B2AFC6AB-4FE7-498C-90F4-E9BA1B786ED8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>05257588-74EC-4263-9721-91A630A4968B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>7868D01E-760A-4C92-B555-158FC06ECA09</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1ED8DD1F-B986-4852-8F47-6EA13D9F4366</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>54471537-2067-4F08-A0C4-40CA894F6808</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F004A449-754A-4036-830E-0C6638FB18CF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F004A449-754A-4036-830E-0C6638FB18CF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7493E761-8E41-41E5-9824-93FE48E5A509</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Eric Boettner</string>
	<key>description</key>
	<string>Browse and Activate URL Schemes</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Url Schemes</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>url=$(echo $entry | jq -r ". | (.scheme + .path)")

if [[ $background == 1 ]]; then
	open -g $url
else
	open $url
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>05257588-74EC-4263-9721-91A630A4968B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>params</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>27385497-B986-4326-BD0B-7ABC8368C2CB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>url=$(echo $entry | jq -r ". | (.scheme + .path)")

if [[ $background == 1 ]]; then
	open -g "${url}?${tmp_params:1}"
else
	open "${url}?${tmp_params:1}"
fi

# pipe into history file here
echo "${url}?${tmp_params:1}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1ED8DD1F-B986-4852-8F47-6EA13D9F4366</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:params}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>&lt;null&gt;</string>
						<key>outputlabel</key>
						<string>plain url</string>
						<key>uid</key>
						<string>7868D01E-760A-4C92-B555-158FC06ECA09</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:params}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>{}</string>
						<key>outputlabel</key>
						<string>url with params</string>
						<key>uid</key>
						<string>54471537-2067-4F08-A0C4-40CA894F6808</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>param builder</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>B2AFC6AB-4FE7-498C-90F4-E9BA1B786ED8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>urls</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>jq -f alfred.jq urls.json</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>81DE253E-B57E-480A-837D-D4872DD861AA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>entry</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>47E20270-E6BD-4F29-BD0D-78D73C2566C9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>key=$(echo "$params" | jq -r "to_entries[0] | .key")
value=$(echo "$params" | jq -r "to_entries[0] | .value")
params=$(echo "$params" | jq -r "del(.[keys_unsorted[0]]) | tostring")

echo $key
echo $value
echo $params</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F004A449-754A-4036-830E-0C6638FB18CF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>subtext</key>
				<string>{var:split2}</string>
				<key>text</key>
				<string>{var:split1}</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>14D512E9-9D3F-4105-8FBB-CB4A69A4AA00</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>params</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>08ADD829-48A5-4C71-BC36-6028263953FF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>params</key>
					<string>{var:split3}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>A61D31F6-2149-43EA-A377-5BBD2CFF03A8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>
</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>7493E761-8E41-41E5-9824-93FE48E5A509</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>tmp_params</key>
					<string>{var:tmp_params}&amp;{var:split1}={query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2C8D41AE-5E7B-4C38-8338-A356CB49B845</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Browse and Activate custom url schemes

See https://github.com/Boettner-eric/Alfred/ for more info</string>
	<key>uidata</key>
	<dict>
		<key>05257588-74EC-4263-9721-91A630A4968B</key>
		<dict>
			<key>note</key>
			<string>Open URL</string>
			<key>xpos</key>
			<real>495</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>08ADD829-48A5-4C71-BC36-6028263953FF</key>
		<dict>
			<key>note</key>
			<string>loop</string>
			<key>xpos</key>
			<real>970</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>14D512E9-9D3F-4105-8FBB-CB4A69A4AA00</key>
		<dict>
			<key>note</key>
			<string>URL Param 1</string>
			<key>xpos</key>
			<real>750</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>1ED8DD1F-B986-4852-8F47-6EA13D9F4366</key>
		<dict>
			<key>note</key>
			<string>Open URL (with params)</string>
			<key>xpos</key>
			<real>495</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>27385497-B986-4326-BD0B-7ABC8368C2CB</key>
		<dict>
			<key>xpos</key>
			<real>105</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>2C8D41AE-5E7B-4C38-8338-A356CB49B845</key>
		<dict>
			<key>xpos</key>
			<real>905</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>47E20270-E6BD-4F29-BD0D-78D73C2566C9</key>
		<dict>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>7493E761-8E41-41E5-9824-93FE48E5A509</key>
		<dict>
			<key>xpos</key>
			<real>635</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>81DE253E-B57E-480A-837D-D4872DD861AA</key>
		<dict>
			<key>note</key>
			<string>List urls</string>
			<key>xpos</key>
			<real>105</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>A61D31F6-2149-43EA-A377-5BBD2CFF03A8</key>
		<dict>
			<key>xpos</key>
			<real>685</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>B2AFC6AB-4FE7-498C-90F4-E9BA1B786ED8</key>
		<dict>
			<key>xpos</key>
			<real>325</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>F004A449-754A-4036-830E-0C6638FB18CF</key>
		<dict>
			<key>note</key>
			<string>Strip first arg</string>
			<key>xpos</key>
			<real>495</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://github.com/Boettner-eric/Alfred</string>
</dict>
</plist>
