<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>boettner.eric.meetings_calendar</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>3A01E07D-E417-4120-AD46-3EA06652BEF5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EBE007D2-D341-452B-9CA0-8DCA0716F5B1</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B7DA5A70-6A30-4A1C-928B-29D2435F800A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>479DCC36-D107-4C49-8013-DEAB2509817B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EC39D245-984E-460D-8CD2-F4C627504455</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8948D437-B19B-4080-ABDA-2E0FE02B9D8F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3A01E07D-E417-4120-AD46-3EA06652BEF5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>895C0F8A-29CE-4518-9C6A-8FD325D9E3AD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>20C83762-CE2F-4E8A-893D-1DA81A485CD0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B7DA5A70-6A30-4A1C-928B-29D2435F800A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E8929B93-02A2-4FAA-802B-A417F0D3A7B5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>43A9500F-33E5-4449-BD07-B660C37F2E17</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>058FAA93-04A6-4225-B03F-EC9E04C207D5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E8929B93-02A2-4FAA-802B-A417F0D3A7B5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>479DCC36-D107-4C49-8013-DEAB2509817B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EC39D245-984E-460D-8CD2-F4C627504455</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>80396059-8294-4051-93AD-964527A5A135</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Eric Boettner</string>
	<key>description</key>
	<string>A workflow for joining meetings</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Meetings Calendar</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<true/>
				<key>triggerid</key>
				<string>calendar</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>8948D437-B19B-4080-ABDA-2E0FE02B9D8F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>mt</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading data…</string>
				<key>script</key>
				<string>if test -f "meetings.json"; then
    jq -f meetings.jq meetings.json
	~/.asdf/shims/python3 meetings.py &gt; /dev/null &amp;
else
	~/.asdf/shims/python3 meetings.py
	jq -f meetings.jq meetings.json
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Calendar sync</string>
				<key>title</key>
				<string>Meetings</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3A01E07D-E417-4120-AD46-3EA06652BEF5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>company.thebrowser.Browser</string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>EBE007D2-D341-452B-9CA0-8DCA0716F5B1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<true/>
				<key>skipvarencode</key>
				<true/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>zoommtg://zoom.us/join?confno={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>80396059-8294-4051-93AD-964527A5A135</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:split2}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>479DCC36-D107-4C49-8013-DEAB2509817B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>?pwd</string>
				<key>replacestring</key>
				<string>&amp;pwd</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>EC39D245-984E-460D-8CD2-F4C627504455</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>/j/</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>E8929B93-02A2-4FAA-802B-A417F0D3A7B5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>http[s]?://(?:[a-zA-Z0-9-]+\.)?zoom\.us/j(?:[a-zA-Z0-9$-_@.&amp;+!*(),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+</string>
						<key>outputlabel</key>
						<string>zoom</string>
						<key>uid</key>
						<string>43A9500F-33E5-4449-BD07-B660C37F2E17</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>browser</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>B7DA5A70-6A30-4A1C-928B-29D2435F800A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>058FAA93-04A6-4225-B03F-EC9E04C207D5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>mcr</string>
				<key>subtext</key>
				<string>add a new google user</string>
				<key>text</key>
				<string>Register Calendar User</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>895C0F8A-29CE-4518-9C6A-8FD325D9E3AD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python3 meetings.py -r {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>20C83762-CE2F-4E8A-893D-1DA81A485CD0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>An alfred workflow for jumping into google calendar meetings

Supports the following types:
- Zoom
- Google Meets
- Slack Huddles
- Microsoft Teams
- Google flights

See more at: https://github.com/Boettner-eric/Alfred/</string>
	<key>uidata</key>
	<dict>
		<key>058FAA93-04A6-4225-B03F-EC9E04C207D5</key>
		<dict>
			<key>note</key>
			<string>open meeting in browser</string>
			<key>xpos</key>
			<real>560</real>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>20C83762-CE2F-4E8A-893D-1DA81A485CD0</key>
		<dict>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>3A01E07D-E417-4120-AD46-3EA06652BEF5</key>
		<dict>
			<key>note</key>
			<string>get meetings from calendar</string>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>95</real>
		</dict>
		<key>479DCC36-D107-4C49-8013-DEAB2509817B</key>
		<dict>
			<key>xpos</key>
			<real>645</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>80396059-8294-4051-93AD-964527A5A135</key>
		<dict>
			<key>note</key>
			<string>open meeting in zoom</string>
			<key>xpos</key>
			<real>795</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>8948D437-B19B-4080-ABDA-2E0FE02B9D8F</key>
		<dict>
			<key>note</key>
			<string>open via uri</string>
			<key>xpos</key>
			<real>90</real>
			<key>ypos</key>
			<real>95</real>
		</dict>
		<key>895C0F8A-29CE-4518-9C6A-8FD325D9E3AD</key>
		<dict>
			<key>note</key>
			<string>register new google user</string>
			<key>xpos</key>
			<real>90</real>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>B7DA5A70-6A30-4A1C-928B-29D2435F800A</key>
		<dict>
			<key>xpos</key>
			<real>465</real>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>E8929B93-02A2-4FAA-802B-A417F0D3A7B5</key>
		<dict>
			<key>xpos</key>
			<real>585</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>EBE007D2-D341-452B-9CA0-8DCA0716F5B1</key>
		<dict>
			<key>note</key>
			<string>open meeting event in google calendar</string>
			<key>xpos</key>
			<real>470</real>
			<key>ypos</key>
			<real>95</real>
		</dict>
		<key>EC39D245-984E-460D-8CD2-F4C627504455</key>
		<dict>
			<key>xpos</key>
			<real>705</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string>0.0.1</string>
	<key>webaddress</key>
	<string>https://github.com/Boettner-eric/Alfred</string>
</dict>
</plist>
